Entrada.Editor/Service References/ADTSearchServicesClient/adt1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.entradahealth.com/" elementFormDefault="qualified" targetNamespace="http://ws.entradahealth.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://editing_ws.entrada-dev.local/adt.search.services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entrada.Entities" />
  <xs:import schemaLocation="https://editing_ws.entrada-dev.local/adt.search.services.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entrada.Entities" minOccurs="0" name="userType" type="q1:EntradaUserType" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" nillable="true" type="tns:EntradaUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EntradaUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntradaEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClinicsAndJobsFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClinicsFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DictatorsFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="JobsFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfUserRole" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserSettings" nillable="true" type="tns:UserSettings" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entrada.Entities" minOccurs="0" name="UserType" type="q2:EntradaUserType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntradaUser" nillable="true" type="tns:EntradaUser" />
  <xs:complexType name="EntradaEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntradaEntity" nillable="true" type="tns:EntradaEntity" />
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
  <xs:complexType name="UserRole">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntradaEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessAllClinics" type="xs:boolean" />
          <xs:element minOccurs="0" name="Clinics" nillable="true" type="tns:ArrayOfClinicEntity" />
          <xs:element minOccurs="0" name="ClinicsFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dictators" nillable="true" type="tns:ArrayOfDictatorEntity" />
          <xs:element minOccurs="0" name="DictatorsFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="JobsFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ArrayOfClinicEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicEntity" nillable="true" type="tns:ClinicEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinicEntity" nillable="true" type="tns:ArrayOfClinicEntity" />
  <xs:complexType name="ClinicEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntradaEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnableTDD" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasADT" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="JobTag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" type="xs:int" />
          <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PatientTag" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClinicEntity" nillable="true" type="tns:ClinicEntity" />
  <xs:complexType name="ArrayOfDictatorEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DictatorEntity" nillable="true" type="tns:DictatorEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictatorEntity" nillable="true" type="tns:ArrayOfDictatorEntity" />
  <xs:complexType name="DictatorEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PhysicianEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClinicID" type="xs:int" />
          <xs:element minOccurs="0" name="ClinicReviewEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="DictatorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ESignatureEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="ESignatureLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ESignatureStamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplatesFolder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VREnabled" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DictatorEntity" nillable="true" type="tns:DictatorEntity" />
  <xs:complexType name="PhysicianEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntradaEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClinicName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhysicianID" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhysicianEntity" nillable="true" type="tns:PhysicianEntity" />
  <xs:complexType name="UserSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntradaEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="JobsDefaultSort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastPasswordChange" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MustChangePassword" type="xs:boolean" />
          <xs:element minOccurs="0" name="OneTimePassword" type="xs:boolean" />
          <xs:element minOccurs="0" name="PasswordChangeInProgress" type="xs:boolean" />
          <xs:element minOccurs="0" name="PasswordExpirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PasswordExpirationDays" type="xs:int" />
          <xs:element minOccurs="0" name="PasswordTokenExpirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserSettings" nillable="true" type="tns:UserSettings" />
  <xs:element name="AuthenticateASPMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateASPMembershipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateASPMembershipResult" nillable="true" type="tns:EntradaUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordWithUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entrada.Entities" minOccurs="0" name="userType" type="q3:EntradaUserType" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordWithUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSessionAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSessionAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSessionAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSignInToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signInToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSignInTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignOffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateASPMembershipUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateASPMembershipUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasADT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasADTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasADTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchJobTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchJobTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchJobTypesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchJobTypesByDictator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
        <xs:element minOccurs="0" name="dictatorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchJobTypesByDictatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchJobTypesByDictatorResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPatientsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientsCompact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientsCompactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPatientsCompactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPhysicians">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPhysiciansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPhysiciansResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPhysiciansCompact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPhysiciansCompactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPhysiciansCompactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicId" type="xs:int" />
        <xs:element minOccurs="0" name="appointmentDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="appointmentTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>